{% extends 'admin/public/base.html' %}

{% block con-header %}
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading">
                <span class="am-icon-shopping-bag page-header-heading-icon">   
                </span>
                 商品分类添加
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block con-body %}
<div class="row-content am-cf">
   <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">添加表单</div>
                <div class="widget-function am-fr">
                    <a href="javascript:;" class="am-icon-cog"></a>
                </div>
            </div>
            <div class="widget-body am-fr">

                <form action="{% url 'type_insert' %}" method="post" enctype="multipart/form-data" class="am-form tpl-form-border-form tpl-form-border-br">
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">
                            所属分类
                        </label>
                        <select name="pid" data-am-selected="{btnSize: 'sm'}" style="display: none;">
                          <option value="0">顶级分类</option>
                          {% for v in tlist %}
                          <option value="{{ v.id }}">{{ v.name }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">商品分类名称 </label>
                        <div class="am-u-sm-9">
                            <input type="text" name = "name" class="tpl-form-input" id="user-name" placeholder="请输入商品分类名">
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                        <button class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
