{% extends 'admin/public/base.html' %}

{% block con-header %}
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading">
                <span class="am-icon-shopping-bag page-header-heading-icon">
                </span>
                商品分类列表
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block con-body %}
<div class="row-content am-cf">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">商品分类列表</div>


                    </div>
                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <a href="{% url 'type_add' %}"><button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button></a> 
                                        <a><button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button></a>
                                        <a><button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button></a>
                                        <a><button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form>
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                    <select name='type' data-am-selected="{btnSize: 'sm'}" style="display: none;">
                                        <option value="name">商品名</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input name="keywords" type="text" class="am-form-field " value=" {{ request.GET.keywords }} ">
                                    <span class="am-input-group-btn">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>商品名</th>
                                        <th>PID</th>
                                        <th>PATH</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for v in tlist %}
                                        <tr class="gradeX">
                                            <td class="am-text-middle tid ">{{ v.id }}</td>
                                            <td class="am-text-middle">{{ v.name }}</td>
                                            <td class="am-text-middle">{{ v.pname }}</td>
                                            <td class="am-text-middle">{{ v.path }}</td>
                                            <td class="am-text-middle">
                                                <div class="tpl-table-black-operation">
                                                    <a href="{% url 'type_edit' v.id %}">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="am-u-lg-12 am-cf">

                            <div class="am-fr">
                                <ul class="am-pagination tpl-pagination">
                                    {% load pagetags %}

                                    {% shows tlist.paginator.num_pages request %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.tpl-table-black-operation-del').click(function(){
        a = $(this)
        // 获取商品id
        tid = $(this).parents('.gradeX').find('.tid').text()
        // 发送ajax进行删除
        $.get('{% url "type_del" %}',{tid:tid},function(data){
            if (data['status'] == 0){
                // 删除当前数据
                a.parents('tr').remove()
            }
            alert(data['msg'])
        },'json')
        // 阻止默认
        return false;
    })

       
</script>


{% endblock %}